rest-test/target/rest-test-1.0-SNAPSHOT.jar
rest-test/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
rest-test/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
rest-test/target/maven-archiver/pom.properties
.idea/workspace.xml
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/compiler.xml
